/* Styles for header section */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Styles for main content section */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}


/* Styles for table */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}


/* Styles for form */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


/* Styles for form input fields */

input[type=text],
select,
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Styles for form submit button */

input[type=submit] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555;
}


/* Styles for success message */

.success {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 5px;
}


/* Styles for error message */

.error {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2dede;
    color: #a94442;
    border-radius: 5px;
}

@media print {
  .my-form {
    display: none;
  }
}