
.drop-container {
    border: 2px dashed var(--accent);
    border-radius: 10px;
    width: 100%;
    display: grid;
    align-items: center;

    position: relative;
    gap: 10px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    color: var(--accent);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover,
  .drop-container.drag-active {
    background: rgb(236, 254, 236);
    border-color: #111;
  }
  
  .drop-container:hover .drop-title,
  .drop-container.drag-active .drop-title {
    color: var(--accent);
  }
  
  .drop-title {
    color: var(--accent);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  input[type=file] {
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
    align-self: end;
    font-weight: 600;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--accent);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    opacity: 0.9;
  }


.upload-area{
    width: 350px;
    height: 300px;
    display: grid;
    grid-gap: 10px;
    position: relative;
    overflow: hidden;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: flash 2s linear infinite;
    display: none;
    color: var(--accent);
    place-content: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px dashed var(--accent);
}

progress {
     width: 100%;
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar { 
    background-color: var(--accent); 
}

@keyframes flash {
    0% {
        background: rgb(221, 255, 221);
    }
    50%{
        background: white;
    }
    100% {
        background: rgb(221, 255, 221);
    }
}
