* {
    font-family: Avenir Next, Arial;
    margin:  0 0;
    padding:  0 0;
}

@keyframes gradientmix {
    0% { background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0 50%;}
}

body{
    min-height: 100vh;
    padding: 100px;
    display: grid;
    place-items: center;
    background: white;
    background-size: 200% 200%;
    background: linear-gradient(60deg, rgb(248, 225, 225), rgba(246, 234, 225, 1), rgba(255, 242, 217, 1));
    box-sizing: border-box;
    /* animation: gradientmix 10s ease-in-out infinite; */
}

@keyframes gradient {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

h1{
    color: #E8893A;
    font-weight: 200;
    font-size: 5em;
    text-align: center;
}

.viewer-upper-container{
    display: grid;
    grid-gap: 10px;
}

.viewer-report-details-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    list-style: none;
    grid-gap: 10px;
}

.viewer-report-details-container > li {
    padding: 0.3em 1em;
    color: wheat;
    background: #e8893ac0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    cursor: default;
    opacity: 1;
}

.viewer-report-details-container > li:last-child:hover, .close-pop-up:hover { cursor: pointer; opacity: 0.8; transform: scale(1.01);}


.viewer-report-container{
    border: 15px solid #e8883a3a;
    min-height: 800px;
    border-radius: 40px;
    /* width: 100%; */
    width: 1000px;
    margin-top: 100px;
}

.viewer-no-access{
    display: grid;
    grid-gap: 50px;
    color: #E2574C; 

    -user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.viewer-no-access > h1 { color: inherit; }

.viewer-no-access > div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2em 4em;
    color: inherit;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    grid-gap: 10px;
    transition-duration: 0.8s;
    transform: scale(1);
}

.viewer-no-access > div:hover {
    transform: scale(1.03);
}

.viewer-no-access > div > span { align-self: end; }

.viewer-alert { max-height: 1.7em; }

.blockchain-report-viewer-overlay {
    position: relative;
}

.popup.view-blockchain-report-details{
    grid-template-columns: 1fr;
    padding: 60px;
}

.close-pop-up{
    position: absolute;
    right: 20px;
    top: 20px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(36%) saturate(2635%) hue-rotate(335deg) brightness(96%) contrast(89%);
    height: 20px;
    cursor: pointer;
}