*{
    text-decoration: none;
}

.i-frame-wrapper{
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding: 0px 50px 50px 50px;
}

.main-heading{
    color: #E8893A;
    position: absolute;
    font-size: 3em;
    font-weight: 300;
    width: 20ch;
    top: 50px;
    left: 50px;
}

.dashboard-menu{
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    right: 50px;
    top: 50px;
    grid-gap: 20px;
}

.disconnect-button, .username, .metamask-address, .logout{
    padding: 1em 2em;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    display: grid;
    color: white;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.disconnect-button{
    border: 3px solid #E2574C;
    color: #E2574C;
    transition: 0.5s all;
    transform: scale(0);
}

.disconnect-button:hover{
    background: #E2574C;
}

.username, .logout:hover{
    background: #EEAC75;
    z-index: 1;
    transition: 0.5s all;
    color: white;
}

.logout{
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    border: 3px solid #EEAC75;
    color: #EEAC75;
    padding: 0.7em 2em;
    display: none;
}

.metamask-address{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: #E8893A;
    margin-right: -10px;
    transition: 1s all;
    transform: translateX(100%);
}

.menu-container, .overflow-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.overflow-container{
    overflow: hidden;
    border-radius: 10px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.instructions{ width: 750px; }
.instructions > ol{
    display: grid;
    grid-gap: 15px;
    padding-left: 24px;
    color: var(--secondary-color);
}

.heading{
    color: #E8893A;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

.link{
    color: #E8893A;
    font-weight: 600;
}

.report-title{
    padding: 25px;
    width: 100%;
}

.metamask-container, .local-report-list, .blockchain-report-container{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    background: white;
    width: 750px;
}

.local-report-list{
    padding: 0 0;
    grid-template-columns: 1fr;
    place-items: start;
}

/* .local-report-list:not(:has(div)){
    box-shadow: none;
} */

.report-item {
    position: relative;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    grid-gap: 20px;
    grid-template-columns: 26px 1fr auto;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.small-font, .report-item-itemization, .report-item-name{
    color: #E8893A;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0px;
}

.small-font{ font-size: 1.3em; }

.report-item-name { font-weight: 300; }

.report-item-buttons {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    overflow: hidden;
}

.report-button{
    text-decoration: none;
    padding: 0.9em 2em 0.7em 2em;
    font-weight: 400;
    cursor: pointer;
    background: var(--secondary-color);
    font-size: 0.7em;
    opacity: 1;
    color: white;
    transition-property: opacity;
}

.report-button:hover{ opacity: 0.8; }

.report-item > *:first-child{ justify-self: center;}
.report-item > *:nth-child(2){ justify-self: start;}
.report-item > *:last-child{ justify-self: end;}

.total-heading{
    font-size: 1.7em;
    grid-column: 1/-1;
    justify-self: start;
    margin: 25px 0px;
    font-weight: 200;
    display: none;
}