*{
    font-weight: 600;
}

html { scroll-behavior: smooth; }

body{
    height: 100vh;
    overflow: hidden;
}

section{
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto 20px;
    place-items: center;
    background: white;
    background: linear-gradient(60deg, rgba(235, 235, 235, 1), rgba(246, 234, 225, 1), rgba(255, 242, 217, 1));
}

section:nth-child(2){
    background: radial-gradient(circle at 0% 0%,#dfe3df, #e2efed, #d2d8ef);
}

.inner-section-container{
    display: grid;
    place-items: center;
    grid-gap: 20px;
}

.login-form{
    min-width: 400px;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-container{ display: grid; }

.input-label{
    font-size: 1em;
    color: #E8893A;
}

.input-field{
    padding: 1em 2em;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #E8893A;
    border-radius: 10px;
    color: #E8893A;
    font-weight: 400;
    outline: none;
}.input-field::placeholder{ color: #e8883ac6; }
.input-field:first-child{
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.input-field:last-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.logo { justify-self: center; }
.logo > img{ max-height: 50px; }


.login-form-title{
    font-size: 2em;
    font-weight: 200;
    color: #e28334c0;
    justify-self: center;
    display: grid;
} nl { text-align: center; } /* why nl */

.login-button{
    border-radius: 10px;
    background: linear-gradient(75deg, #e8893ac0, #e28334c0, rgba(219,125,47,0.9));
    color: white;
    padding: 1em 2em;
    border: none;
    font-size: 1.2em;
    margin-top: 15px;
    cursor: pointer;
}.login-button:hover{ background: linear-gradient(75deg, #e8893a, #e28334, rgba(219,125,47,1)); }

/* For Doctor Login */

.login-form.doctor > .login-form-title{ color: #4B644A; }

.login-form.doctor > .input-container > .input-field {
    border-color: #4B644A;
    color: #4B644A;
}

.login-form.doctor > .input-container > .input-field::placeholder{ color: #4B644Ac6; }

.login-form.doctor > .login-button { background: linear-gradient(90deg, #5d735c, #637b62, #7d8f7c); }
.login-form.doctor > .login-button:hover{ background: #4B644A; }

.element-link {
    font-weight: 200;
    font-size: 1.3em;
}

.element-link.orange > a {
    text-decoration: none;
    color: #E8893A;
}

.element-link.green > a{
    text-decoration: none;
    color: #4B644A;
}